<!DOCTYPE html>
<html>

<head>
    <title>Formulario de Actualización</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>

<body>
    <form id="updateForm">
        <input type="text" id="name" placeholder="Nombre" required minlength="3" pattern="[A-Za-z]+">
        <input type="text" id="lastname" placeholder="Apellido" required minlength="3" pattern="[A-Za-z]+">
        <input type="email" id="email" placeholder="Correo electrónico" required>
        <button type="submit">Actualizar</button>
    </form>

    <script src="/js/patchAjax.js"></script>
</body>

</html>